body{
    background: url("./фон-1.jpg");
    background-size:100%;
    font-family: montserrat;
}
.nayavnist{
    color: green;
}
.nenayavnist{
	color: red;
}
.img_scotch{
    width: 300px;
    height: 300px;
    border-radius: 10%;
}
.scotch_div{
	background-color: darksalmon;
    width:300px;
    padding:20px 20px 20px 20px;
    border-radius: 10%;
    margin-left: 20px;
    margin-right: 20px;
	margin-top: 20px;
}
.main{
    display: flex;
    flex-direction: row;
    width: 1300px;;
    margin:0 auto;
}
a{
    text-decoration: none;
}
.back{
	height:100px;
	width:100px;
}
@media screen and (max-width:1000px){
	.main{
		display:flex;
		flex-direction:column;
		width:400px;
		margin: 0 auto;
	}
	.scotch_div{
		margin-top:20px;
	}
    .back{
        height:70px;
        width:70px;
    }
}